.button {
    position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    border: none;
	outline: none;
	background: transparent;
    padding: .625rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: .125rem;

    &_primary {
        color: #FFF;
        background-color: $main_light;
        box-shadow: 0 .5rem 1rem 0 rgba($main_light, 0.24);
    }

    &_secondary {
        background-color: white;
        color: $main_light;
        box-shadow: 0 .5rem 1rem 0 rgba($main_light, 0.12);
    }

    &_big {
        padding: 1rem;
    }

    &_map {
        padding: .5rem;
        color: $main_light;
        background-color: white;
        box-shadow: 0 .5rem 1rem 0 rgba($main_light, 0.48);
    }

    &_draw {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}

.link {
    display: flex;
    position: relative;
    padding: .5rem 1rem .5rem 1.5rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: .875rem;

    &_buy {
        color: $main_light;
    }

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0rem;
        width: .875rem;
        height: .875rem;
        transform: translateY(-50%);
        background-repeat: no-repeat;
    }
}
